<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>navbar-right_auth</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="../../static/css/main.css"/>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container dbaab-navbar-container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">

          <!--/* AUTHENTICATED */-->
          <li class="dropdown dbaab-navbar-auth-dropdown" th:fragment="authenticated">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>
              <span sec:authentication="principal.username"><i>Authenticated User</i></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <form th:action="@{/logout}" method="post">
                  <div>
                    <button class="dbaab-dropdown-form-btn" type="submit">
                      <span class="glyphicon glyphicon-log-out"></span>
                      <span>Sign Out</span>
                    </button>
                  </div>
                </form>
              </li>
            </ul>
          </li>

          <!--/* ANONYMOUS */-->
          <li th:fragment="anonymous">
            <a href="#login" th:href="@{/login}">
              <span class="glyphicon glyphicon-log-in"></span>
              <span>Login</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>