<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{artists.page-title}">DbAab Museum | Artists</title>
  <meta th:replace="fragments/head :: head" />
</head>
<body>
  <nav th:replace="fragments/navbar :: nav(2)"></nav>
  <div class="container dbaab-container">
    <div id="main-content">
      <h1 th:text="#{artists.page-heading}">Registered artists</h1>
      <div class="list-group dbaab-artists-list">
        <div th:each="artist : ${artistList}" th:object="${artist}" th:remove="tag">
          <a class="list-group-item" href="#" th:href="@{/artist(id=*{id})}">
            <span th:text="${artist.getNameAndSurname()}"></span>
            <span class="badge" th:title="#{artists.tooltip.paintings-number}" th:text="*{paintings.size()}"></span>
          </a>
        </div>
      </div>
    </div>
    <footer th:replace="fragments/footer :: footer-fluid"></footer>
  </div>
  <object th:replace="fragments/head :: js"></object>
</body>
</html>