<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Artisti</title>
  <meta th:replace="fragments/head :: head"/>
</head>
<body>
<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>                        
      		</button>
      		<a class="navbar-brand" href="#">Logo</a>
    	</div>
    	<div class="collapse navbar-collapse" id="myNavbar">
      		<ul class="nav navbar-nav">
        		<li><a href="homeController">Home</a></li>
        		<li><a href="galleryController?none">Galleria</a></li>
        		<li class="active"><a href="artistController">Artisti</a></li>
        		<li><a href="contacts">Contact</a></li>
      		</ul>
      		<ul class="nav navbar-nav navbar-right">
      			<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      		</ul>
      	</div>
     </div>
</nav>
<div class="container-fluid text-right">    
  	<div class="row content">
    	<div class="col-sm-8 text-right">
    		<div>    			
    			<!-- barra di ricerca, bisogna impostare l'action-->
      			<form class="navbar-form navbar-right" action="#" method="post">
        			<div class="form-group">
          				<input type="text" class="form-control" placeholder="Ricerca per nome">
        			</div>
        			<button type="submit" class="btn btn-default">Cerca</button>
      			</form>
      		<div class="col-sm-8 text-left">
      			<div th:each="artist : ${artistList}">
					<p th:text="${artist.name} + '' + ${artist.surname}"/>     				
      			</div>
      		</div>
    		</div>
    	</div>
    </div>
</div>
  <object th:replace="fragments/head :: js"></object>
</body>
</html>