<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contacts</title>
  <meta th:replace="fragments/head :: head"/>
</head>
<body>
    <nav th:replace="fragments/navbar :: nav(_)"></nav>
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-8 text-left">
                <div class="panel" style="width: 60%; margin:auto">
                    <div class="panel body">
		                <h3>Contatti</h3>
		                <h4>Telefono: +39 06060606</h4>
		                <h4>Email per informazioni: questa.email@nonesiste.it</h4>
		                <hr/>
		                <h4>Sede principale in via Inventata 43, parcheggio interno.</h4>
		            </div>
		        </div>         
            </div>
        </div>
    </div>
</body>
</html>