<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Contacts</title>
  <meta th:replace="fragments/head :: head"/>
</head>
<body>
    <nav th:replace="fragments/navbar :: nav(_)"></nav>
    <div class="container-fluid text-center">    
        <div class="row content">
            <div class="col-sm-8 text-left">
                <div class="panel" style="width: 60%; margin:auto">
                    <div class="panel body">
		                <h3 th:text="#{contacts.panel.title}">Contatti</h3>
		                <h4 th:text="#{contacts.panel.telephone}">Telefono: +39 06060606</h4>
		                <h4 th:text="#{contacts.panel.email}">Email per informazioni: questa.email@nonesiste.com</h4>
		                <hr/>
		                <h4 th:text="#{contacts.panel.address}">Sede principale in via Inventata 43, parcheggio interno.</h4>
		            </div>
		        </div>         
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer-fluid"></footer>
    <object th:replace="fragments/head :: js"></object>
</body>
</html>