<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title th:text="#{gallery.page-title}">Gallery</title>
  <meta th:replace="fragments/head :: head"/>
</head>
<body>
  <nav th:replace="fragments/navbar :: nav(active=1, search=true)"></nav>
  <div class="container dbaab-container">
    <div id="main-content">
      <div id="dbaab-main-content-header">
        <div class="col-sm-8">
          <a sec:authorize="${hasAuthority(T(com.dbaab.museo.model.Role).ADMIN.toString())}"
             role="button" class="btn btn-default dbaab-adm-cmd-btn" th:href="@{/admins/painting/add}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span th:text="#{gallery.adm.add}">Add</span>
          </a>
        </div>
        <div class="col-sm-4">
          <div id="dbaab-gallery-orderby-dropdown" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span th:text="#{gallery.orderby-dropdown.label}">Sort by</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a th:href="@{/gallery(order=artistName)}" th:text="#{gallery.orderby-dropdown.artist_name}">Artist (name)</a></li>
              <li><a th:href="@{/gallery(order=artistSurname)}" th:text="#{gallery.orderby-dropdown.artist_surname}">Artist (surname)</a></li>
              <li role="separator" class="divider"></li>
              <li><a th:href="@{/gallery(order=title)}" th:text="#{gallery.orderby-dropdown.title}">Title</a></li>
              <li><a th:href="@{/gallery(order=yearAsc)}" th:text="#{gallery.orderby-dropdown.year_asc}">Least recent</a></li>
              <li><a th:href="@{/gallery(order=yearDesc)}" th:text="#{gallery.orderby-dropdown.year_desc}">Most recent</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default dbaab-painting-panel" th:if="${paintingList}" th:each="painting : ${paintingList}" th:object="${painting}">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <img class="media-object" th:src="*{url}"/>
            </div>
            <div class="media-body">
              <div>
                <h2 class="dbaab-painting-title" th:text="*{title}"></h2>
                <h4 class="dbaab-painting-artist" th:text="*{artist.name + ' ' + artist.surname}"></h4>
                <div class="dbaab-painting-meta">
                  <div><span th:text="#{gallery.painting-panel.date}">Date</span>: <span th:text="*{year}"></span></div>
                  <div><span th:text="#{gallery.painting-panel.technique}">Technique</span>: <span th:text="*{technique}"></span></div>
                  <div><span th:text="#{gallery.painting-panel.dimensions}">Dimensions</span>: <span th:text="*{dimensions}"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
              
        <!--/* ADMIN */-->
        <div class="panel-footer" sec:authorize="${hasAuthority(T(com.dbaab.museo.model.Role).ADMIN.toString())}">
          <div class="dbaab-adm-painting-controls">
            <a role="button" class="btn btn-sm btn-default dbaab-adm-cmd-btn" th:href="@{/admins/painting/modify(id=*{id})}">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <span th:text="#{gallery.adm.modify}">Modify</span>
            </a>
            <a role="button" class="btn btn-sm btn-default dbaab-adm-cmd-btn" th:href="@{/admins/painting/remove(id=*{id})}">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <span th:text="#{gallery.adm.remove}">Remove</span>
            </a>
          </div>
        </div>
      </div><!--/*panel*/-->
      <div>
        <span>
            <a th:if="${page}!=0" th:href="@{/gallery(order=${order}, page=${page-1})}" th:text="#{gallery.page-management.previous}">Previous</a> 
            <b th:text="${page}"></b> 
            <a th:if="${hasNext}" th:href="@{/gallery(order=${order}, page=${page+1})}" th:text="#{gallery.page-management.next}">Next</a>
        </span>
      </div>
    </div>
    <footer th:replace="fragments/footer :: footer-nofluid"></footer>
  </div>
  <object th:replace="fragments/head :: js"></object>
</body>
</html>