<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Galleria</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
  <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="homeController">Home</a></li>
          <li class="active"><a href="galleryController?none">Galleria</a></li>
          <li><a href="artistController">Artisti</a></li>
          <li><a href="contacts">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <!-- menu per ordinare i quadri --> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ordina per<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!-- lasciare le intestazioni del tipo <a> ad Autore, in quanto è necessario per fornire la giusta intavolazione <== CAZZATA! :) -->
              <li><a>Artista</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="galleryController?artistName">+Artista: nome</a></li>
              <li><a href="galleryController?artistSurname">+Artista: cognome</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="galleryController?title">Titolo</a></li>
              <li><a href="galleryController?year">Anno</a></li>
            </ul>
          </li>
          <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <!-- barra di ricerca, bisogna impostare l'action-->
        <form class="navbar-form navbar-right" action="#" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <button type="submit" class="btn btn-default">Cerca</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container dbaab-container">
    <div id="main-content">
      <div th:if="${paintingList}" th:each="painting : ${paintingList}" class="panel panel-default dbaab-painting-panel">
        <div class="panel-body">
          <div class="media" th:object="${painting}">
            <div class="media-left dbaab-painting-panel-img">
              <a href="#"><img class="media-object" th:src="*{url}" /></a>
            </div>
            <div class="media-body dbaab-painting-panel-body">
              <div>
                <h2 class="dbaab-painting-title" th:text="*{title}"></h2>
                <h4 class="dbaab-painting-artist" th:text="*{artist.name + ' ' + artist.surname}"></h4>
                <div class="dbaab-painting-meta">
                  <div>Data: <span th:text="*{year}"></span></div>
                  <div>Tecnica: <span th:text="*{technique}"></span></div>
                  <div>Dimensioni: <span th:text="*{dimensions}"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--/*panel*/-->
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>