<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Hello!</title>
  <meta th:replace="fragments/head :: head"/>
</head>
<body>
  <div class="container-fluid">
    <nav th:replace="fragments/navbar :: nav"></nav>
    <h2>Hello <strong th:text="${#authorization.expression('isAuthenticated()')} ? ${#authentication.principal.username} : 'Anonymous'"><i>Anonymous</i></strong>!</h2>
    <p sec:authorize="${hasAuthority(T(com.dbaab.museo.model.Role).ADMIN.toString())}">
      You are authenticated as <i><span sec:authentication="principal.authorities"></span></i>.
    </p>
  </div>
  <object th:replace="fragments/head :: js"></object>
</body>
</html>