<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{forms.login.page-title}">Log In</title>
  <meta th:replace="fragments/head :: head"/>
</head>
<body>
  <nav th:replace="fragments/navbar :: nav('login')"></nav>
  <div class="container-fluid text-center">
    <hr/>
    <div class="panel" style="width: 60%; margin:auto">
    <div class="panel body">
      <h3 th:text="#{forms.login.title}">Prego, inserire le credenziali</h3>
      <!-- impostare pagina successiva. Passa ad una schermata del tipo "benvenuto, scelga i comandi" oppure torna alla home? -->
      <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form th:action="@{/login}" method="post">
          <div th:if="${param.error}">
            <div class="alert alert-danger" th:text="#{forms.login.alert.invalid}">Invalid username or password.</div>
          </div>
          <div th:if="${param.logout}">
            <div class="alert alert-info" th:text="#{forms.login.alert.logout}">You have been logged out.</div>
          </div>
          <div class="form-group">
            <input type="text" name="username" id="username" class="form-control input-lg" th:placeholder="#{forms.login.placeholder.username}" required="required"/>
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" class="form-control input-lg" th:placeholder="#{forms.login.placeholder.password}" required="required"/>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <input type="submit" class="btn btn-lg btn-primary btn-block" th:value="#{forms.login.button.login}"/>
            </div>
          </div>
        </form>
      </div>
      <p style="clear: both;" th:text="#{forms.login.notice}">Access to the system is permitted to authorized personnel only.</p>
    </div>
  </div>
  <hr/>
  </div>
  <footer th:replace="fragments/footer :: footer-fluid"></footer>
  <object th:replace="fragments/head :: js"></object>
</body>
</html>