<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Summary</title>
  <meta th:replace="fragments/head :: head"/>
</head>
<body>
    <div class="container-fluid text-center">
        <h3>Summary</h3>
        <hr/>
        <img alt="https://a.disquscdn.com/uploads/mediaembed/images/354/3586/original.jpg" th:src="${painting.url}"/>
        <p th:text="${painting.artist.name} + ' ' + ${painting.artist.surname} + ', ' + ${painting.title} + ' - ' + ${painting.year} + ' (' + ${painting.technique} + ', ' + ${painting.dimensions} + ')'"/>     
        <hr/>
        <h4 th:unless="${isRemoving}"><a href="/galleryController" class="btn btn-default" role="button">Back</a></h4>
        <div th:if="${isRemoving}">
            <h4>Are you sure you want to remove this painting?</h4>
            <div>
                <form class="form-inline" th:action="@{/admins/painting/remove(dec=y,id=${painting.id})}" method="post">
                    <input type="submit" class="btn btn-success" th:field="*{affermative}" value="Affermative"/>
                </form>
                <hr/>
                <form class="form-inline" th:action="@{/admins/painting/remove(dec=n,id=${painting.id})}" method="post">
                    <input type="submit" class="btn btn-danger" th:field="*{negative}" value="Negative"/>
                </form>
            </div>
        </div>
    </div>
  <object th:replace="fragments/head :: js"></object>
</body>
</html>