<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summary</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
</head>
<body>
    <div class="container-fluid text-center">
        <h3>Summary</h3>
        <hr/>
        <img alt="https://a.disquscdn.com/uploads/mediaembed/images/354/3586/original.jpg" th:src="${painting.url}"/>
        <p th:text="${newPainting.artist.name} + ' ' + ${newPainting.artist.surname} + ', ' + ${newPainting.title} + ' - ' + ${newPainting.year} + ' (' + ${newPainting.tecnique} + ', ' + ${newPainting.dimensions} + ')'"/>     
        <hr/>
    </div>
    <h4><a th:href="galleryController">Back</a></h4>
</body>
</html>