@CHARSET "UTF-8";

/*********************************
 * base-color: #992525
 * navbar gradient: linear-gradient(to bottom, #992525 0, #711a1a 100%)
 *********************************/

@media screen and (min-width: 767px) {
  .dbaab-container {
    box-shadow: 0px 0px 8px 0px;
    width: 70%;
  }
}

#main-content {
  padding: 30px 15px;
}


/*—————————————————*
 |     NAVBAR      |
 *—————————————————*/
@media screen and (min-width: 767px) {
  .dbaab-navbar-container {
    width: 72%;
  }
}

.navbar-nav > .dbaab-navbar-auth-dropdown > .dropdown-toggle > .glyphicon-user {
  margin-right: 0.5rem;
}
.navbar-nav > .dbaab-navbar-auth-dropdown > .dropdown-toggle > .caret {
  margin-left: 1rem;
}
.navbar-nav > .dropdown.dbaab-navbar-auth-dropdown.open > a {
  /* This style has been adapted from the style applied to '.navbar-nav > .open > a' by bootstrap */
  background-image: -webkit-linear-gradient(top, #992525 0, #711a1a 100%);
  background-image: -o-linear-gradient(top, #992525 0, #711a1a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#992525), to(#711a1a));
  background-image: linear-gradient(to bottom, #992525 0, #711a1a 100%);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,.25);
  box-shadow: inset 0px 0px 20px 2px rgba(0,0,0,.25);
}
.navbar-nav > .dropdown.dbaab-navbar-auth-dropdown.open > .dropdown-toggle > .caret {
  transform: rotate(180deg);
}

.dropdown-menu > li > form .dbaab-dropdown-form-btn {
  /* This is the same style applied to '.dropdown-menu > li > a' by bootstrap. */
  display: block;
  width: 100%;
  text-align: left;
  clear: both;
  padding: 3px 20px;
  border: 0;
  outline: 0;
  color: #333;
  background: none;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
}
.dropdown-menu > li > form .dbaab-dropdown-form-btn:hover,
.dropdown-menu > li > form .dbaab-dropdown-form-btn:focus {
  /* This is the same style applied to '.dropdown-menu > li > a' by bootstrap. */
  text-decoration: none;
  color: #262626;
  background-image: linear-gradient(#f5f5f5 0px, #e8e8e8 100%);
}
.dropdown-menu > li > form .dbaab-dropdown-form-btn > .glyphicon-log-out {
  padding-right: 1rem;
}


/*—————————————————*
 |     GALLERY     |
 *—————————————————*/
.dbaab-painting-panel {
  margin: 1vw 0;
}
.dbaab-painting-panel > .panel-body {
  padding: 0.8vw;
}

.dbaab-painting-panel-img {
  padding: 0px;
}

.dbaab-painting-panel-img img {
  max-width: 15vw;
  padding: 5px;
}

.dbaab-painting-panel-body {
  position: relative;
  padding: 0.8vw 0 0 2vw;
}
.dbaab-painting-title,
.dbaab-painting-title + .dbaab-painting-artist {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
}
.dbaab-painting-title + .dbaab-painting-artist {
  padding-left: 0.1em;
  font-weight: 400;
  color: #555;
}
.dbaab-painting-meta {
  padding: 1.5em 0 0 0.1em;
  color: #777;
}
.dbaab-painting-meta > div {
  margin-top: 0.2em;
}

.dbaab-painting-panel-footer {
  display: inline-block;
  padding-left: 2vw;
  padding-bottom: 5px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* [admin] */
.dbaab-adm-cmd-btn {
  display: inline-block;
  color: #992525 !important;
}
.dbaab-adm-cmd-btn > .glyphicon {
  margin-right: 0.5em;
  text-shadow: 1px 1px 2px;
}

.dbaab-painting-panel-footer > .dbaab-adm-painting-controls {
  float: right;
}
.dbaab-adm-painting-controls > .dbaab-adm-cmd-btn {
  margin: 0 0 0 0.5vw;
}


/***************************************/

.navbar {
  background-image: linear-gradient(to bottom, #992525 0, #711a1a 100%);
  margin-bottom: 0;
  border-radius: 0;
}

.sidenav {
  height: 100%;
  padding-top: 20px;
  background-color: #f1f1f1;
}

/* Set height of the grid so .sidenav can be 100% */
.row.content {
  height: 450px;
}

footer {
  padding: 15px;
  background-image: linear-gradient(to bottom, #992525 0, #711a1a 100%);
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}